<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the News?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="colum is-offset-16" is-10>
                    {% for title, desc, i in mylist %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <p>
                                    <span class="title">{{ title }}</span>
                                    <br>
                                    <span class="subtitle">{{ desc }}</span>
                                    <img src="{{ i }}" alt="">
                                </p>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>